.features-Section {

    padding-top: 100px;
    padding-bottom: 100px;

    .outside-border {

        height: 600px;
        width: 1520px;
        border: 1px solid black;
      

        .features-content {
            
            display: flex;
            margin-top: 88px;

            .left-side {

                height: 303px;
                width: 460px;
                margin-right: 140px;

                .long-yellow-button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 56px;
                    border-radius: 25px;
                    background-color: #F9D783;
                    border: none;
                    margin-top: 40px;

                    &:hover {

                        background-color: #191919;
                        color: #ffffff;
                    }

                }

            }

            .right-side {
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 30px;

                .feature {
                    
                    height: 160px;
                    width: 200px;
                    margin-bottom: 50px;
                    margin-right: 140px;
                    

                    i {
                        font-size: 35px;
                        
                    }

                    h3 {
                        font-weight: bold;
                        font-size: 22px;
                        margin-top: 20px;
                        margin-bottom: 20px;

                    }

                    p {
                        font-size: 16px;
                    }

                }
 

            }

        }

    }
}