.category-flex {

    display: flex;

    h4 {
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
    }

    .grey-h4 {

        font-size: 16px;
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        color: grey;
        margin-left: 10px;

    }
}