.news-details {

    .small-underline {

        display: none;

    }

    .container {

        display: flex;
        margin-top: 115px;

        .left-side {

            width: 768px;
            margin-right: 130px;

            .full-article {

                margin-bottom: 40px;

                h2 {

                    font-size: 45px;
    
                }
    
                .date-subject-author {
                    display: flex;
                    gap:34px;
                    margin-top: 35px;
                    margin-bottom: 25px;
    
                    .small-yellow-circle {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: #F9D783;
                    }
    
                    .article-date {

                        p {
                            font-family: "DM Sans", sans-serif;
                            font-size: 20px;
                        }
    
                    }
    
                    .article-category {

                        p {
                            font-family: "DM Sans", sans-serif;
                            font-size: 20px;
                        }
    
                    }
    
                    .article-author {

                        p {
                            font-family: "DM Sans", sans-serif;
                            font-size: 20px;
                        }
    
                    }
    
                }
    
                img {

                    width: 100%;
                    height: auto;
                    margin-bottom: 50px;
    
                }
    
                p {
                    line-height: 27px;
                }
    
                .the-qoute {
                    display: flex;
                    margin-top: 90px;
                    margin-bottom: 80px;
                    gap: 10px;
    
                    img {
                        width: 28px;
                        height: 20px;
                    }
    
                    h3 {
                        font-size: 22px;
                        font-family: "DM Sans", sans-serif;
                        font-weight: 500;
                        font-style: italic;
                    }
                }
    
            }
    
            .article-tags {

                display: flex;
                gap: 15px;
                margin-bottom: 60px;
    
                .large-tag {
                    width: 114px;
                    height: 40px;
                    background-color: rgb(233, 232, 232);
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #191919;
                }
    
                .medium-tag {

                    width: 99px;
                    height: 40px;
                    background-color: rgb(233, 232, 232);
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #191919;
    
                }
    
                .small-tag {

                    width: 83px;
                    height: 40px;
                    background-color: rgb(233, 232, 232);
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #191919;
    
                }
            }

        }
        

        .side-section {

            margin-top: 240px;

            .news-search-box {

                background-color: rgb(233, 232, 232);
                width: 420px;
                height: 56px;
                border: none;
                border-radius: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 40px;

                .myinput {

                    background-color: rgb(233, 232, 232);
                    border: none;
                    outline: none;
                    font-size: 14px;
                    height: 56px;
                    width: 420px;
                    border-radius: 25px;

                }

                i {
                    font-size: 18px;
                    margin-left: 10px;
                    margin-right: 10px;
                }

            }

            .recent-posts {

                border: 1px solid rgb(233, 232, 232);
                padding-top: 50px;
                padding-left: 40px;
                width: 420px;

                h3 {

                    font-size: 22px;
                    font-family: "DM Sans", sans-serif;
                    font-weight: bold;

                }

                .recent-post-and-date {

                    margin-right: 40px;
                    border-bottom: 1px solid rgb(233, 232, 232);
                    
                    h4 {

                        font-size: 16px;
                        font-family: "DM Sans", sans-serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-right: 50px;

                    }

                    p {
                        font-size: 14px;
                    }
                }

                .recent-post-and-date-no-border {

                    margin-bottom: 40px;

                    h4 {

                        font-size: 16px;
                        font-family: "DM Sans", sans-serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-right: 50px;

                    }

                    p {
                        font-size: 14px;
                    }



                }

            }

            .category {

                margin-top: 40px;
                border: 1px solid rgb(233, 232, 232);
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left: 40px;



                h3 {

                    font-size: 22px;
                    font-family: "DM Sans", sans-serif;
                    font-weight: bold;

                }

                .category-flex {

                    display: flex;

                    h4 {
                        font-size: 16px;
                        font-family: "DM Sans", sans-serif;
                        font-weight: bold;
                    }

                    .grey-h4 {

                        font-size: 16px;
                        font-family: "DM Sans", sans-serif;
                        font-weight: bold;
                        color: grey;
                        margin-left: 10px;

                    }
                }
            }
        }
    }
}