.section-7 {
    margin-top: 100px;
    margin-bottom: 100px;
    .Project-section {

        display: block;
        text-align: center;

        .project-title {
            text-align: center;

           h2 {

            @media (min-width: 1200px) {
                font-size: 45px;
            }
           }
        }
        
        .project-and-case {

            @media (min-width: 1378px) {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                column-gap: 30px;
                row-gap: 35px;
                justify-content: center;
                padding-top: 40px;
            }

            article {

                padding-bottom: 40px;

                img {
                    height: 125px;
                    width: auto;

                    @media (min-width: 768px) {

                        height: 250px;
                        width: auto;
                    }

                    @media (min-width: 1378px) {

                        height: auto;
                        width: auto;
                    }
                }
    
                h3 {
                    padding-bottom: 0px;

                    @media (min-width: 768px) {
                        font-size: 22px;
                        font-weight: bold;
                    }

                    @media (min-width: 1378px) {
                        padding-top: 40px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #c4c3be;
                        text-align: start;   
                    }
                }
    
                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: black;

                    i {
                        margin-left: 5px;
                    }

                    @media (min-width: 1378px) {

                        display: flex;
                        margin-top: 35px;
                        justify-content: flex-end;
                        align-items: center;
                        text-decoration: none;
                        color: #191919; 
                    }   
                }
            }
        }

        .projects-button {
            display: flex;
            justify-content: center;

            .yellow-button {
                width: 300px;
                background-color: #191919;
                color: #ffffff;
                border: 1px solid #191919;

                &:hover {
                    background-color:#ffffff;
                    color: #191919;
                    border: 1px solid #191919;
                }

                @media (min-width: 1200px) {

                        height: 55px;
                        width: 220px;  
                }
            }
        }
    }
}