    .news-section {

        padding-top: 120px;
        padding-bottom: 90px;

        .crito-articles {
            gap: 30px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;

            .article-and-info {

                img {
                    height: 120px;
                    width: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    @media (min-width:768px) {
                        height: 220px;
                        width: 420px;
                    }
                }

                p {
                    display: block;
                    
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .my-pages {
            display: flex;
            justify-content: center;
            gap: 10px;

            .choose-page {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #4b4848;
                height: 38px;
                width: 38px;
                border-radius: 10px;
                color: #191919;
                text-decoration: none;

                &:hover {
                    background-color: #191919;
                    color: white;
                    cursor: pointer;
                }


            }
        }

    }
        
 