.section-8 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9D783;
    .meet-our-team {

        .team-box {
            text-align: center;

            @media (min-width:1400px) {
                text-align: start;
            }

            .h2-and-btn {

                display: block;
                align-items: center;

                h2 {
                    
                    @media (min-width:1200px) {
                        font-size: 45px;
                    }
                }

                @media (min-width:1400px) {
                    display: flex;
                    justify-content: space-between;

                }

                .btn-placement {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    .yellow-button {
                        border: 1px solid #191919;
                        background-color: #f3d68c;

                        &:hover {
                            background-color: #191919;
                            color: #ffffff;
                        }

                        @media (min-width:1200px) {
                            height: 55px;
                            width: 220px;
                        }  
                    }
                }
            }

            .team-members {

                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                gap: 10px;

                @media (min-width:1400px) {
                    display: flex;
                    gap: 30px;
                }

                .member {

                    img {
                        height: 150px;
                        width: auto;

                        @media (min-width: 768px) {
                            height: 250px;
                            width: auto;
                        }

                        @media (min-width:1200px) {
                            height: auto;
                            width: auto;
                        }

                        @media (min-width: 1400px) {
                            margin-top: 100px;
                        }
                    }

                    h3 {

                        font-size: 16px;

                        @media (min-width:1200px) {
                            font-size: 22px;
                            margin-top: 30px;
                            font-weight: bold;
                        }
                    }

                    p {
                        display: none;

                        @media (min-width: 768px) {

                            display: block;
                        }

                        @media (min-width:1400px) {

                            margin-bottom: 50px;
                        }  
                    }
                }
            }

            .small-circles {
                display: none;

                @media (min-width: 1400px) {
                    display: flex;
                }  
            }
        }
    }
}
