.recent-post-and-date {
  margin-right: 40px;
  border-bottom: 1px solid rgb(233, 232, 232);
}
.recent-post-and-date h4 {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 100px;
}
.recent-post-and-date p {
  font-size: 14px;
}