.section-9 {
    background-color: #F9D783;
    padding-top: 75px;
    padding-bottom: 175px;
    position: relative;
    z-index: 0;

    .client-reviews {
        z-index: 2;
        position: relative;
        padding-top: 100px;
        padding-bottom: 60px;
        background-color: #ffffff;

        .review-title {
            text-align: center;

            p {
                @media (min-width:1200px) {
                    
                }
            }

            h2 {
                @media (min-width:1200px) {
                    font-size: 45px;
                }
            }
        }

        .flexed-boxes {

            @media (min-width: 1200px) {
                display: flex;
                justify-content: space-around;
            }

            .review-box {
                text-align: center;
                padding-right: 50px;
                padding-left: 50px;

                @media (min-width:1200px) {
                    text-align: start;

                    p {
                        line-height: 30px;
                        margin-top: 25px;
                        margin-bottom: 30px;
                    }
                }

                .five-stars {
                    margin-top: 40px;
                    margin-bottom: 5px;
                }

                .image-name-reviewer {

                    .name-and-role {
                        h3 {
                            padding-top: 12px;
                            padding-bottom: 14px;
                        }
                        
                        .red-text {
                            font-size: 16px;
                            bottom: 20px;
                            position: relative;
                            
                            @media (min-width: 1200px) {
                                position: relative;
                                bottom: 40px;
                            }
                        }
                    }

                    h3 {
                        padding-bottom: 0px;
                    }

                    @media (min-width:1200px) {

                        display: flex;
                    
                        img {
                            width: 70px;
                            height: 70px;
                            margin-right: 15px;
                        }
 
                    }
                }
            }
        }

        .projects-button2 {

            display: flex;
            justify-content: center;
          
            .yellow-button {
                background-color: #191919;
                color: #ffffff;
                border: 1px solid #191919;

                &:hover {
                    background-color: #ffffff;
                    color: #191919;
                }

                    @media (min-width:1200px) {
                    height: 55px;
                    width: 220px;
                }
            }
        }
    }

    .white-background-position {
        display: none;

        @media (min-width: 1600px) {

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .white-background {

            background-color: #ffffff;
            width: 1520px;
            height: 887px;
            position: absolute;
            z-index: 1;
            top: 0px;
        }
    }
}