.section-9 {
  background-color: #F9D783;
  padding-top: 75px;
  padding-bottom: 175px;
  position: relative;
  z-index: 0;
}
.section-9 .client-reviews {
  z-index: 2;
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.section-9 .client-reviews .review-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .review-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes {
    display: flex;
    justify-content: space-around;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box {
    text-align: start;
  }
  .section-9 .client-reviews .flexed-boxes .review-box p {
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box .five-stars {
  margin-top: 40px;
  margin-bottom: 5px;
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role h3 {
  padding-top: 12px;
  padding-bottom: 14px;
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role .red-text {
  font-size: 16px;
  bottom: 20px;
  position: relative;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role .red-text {
    position: relative;
    bottom: 40px;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer h3 {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer {
    display: flex;
  }
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }
}
.section-9 .client-reviews .projects-button2 {
  display: flex;
  justify-content: center;
}
.section-9 .client-reviews .projects-button2 .yellow-button {
  background-color: #191919;
  color: #ffffff;
  border: 1px solid #191919;
}
.section-9 .client-reviews .projects-button2 .yellow-button:hover {
  background-color: #ffffff;
  color: #191919;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .projects-button2 .yellow-button {
    height: 55px;
    width: 220px;
  }
}
.section-9 .white-background-position {
  display: none;
}
@media (min-width: 1600px) {
  .section-9 .white-background-position {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section-9 .white-background-position .white-background {
  background-color: #ffffff;
  width: 1520px;
  height: 887px;
  position: absolute;
  z-index: 1;
  top: 0px;
}