.part-1 {
    background-color: #f0efe9;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    .lets-connect {
        display: flex;
        justify-content: center;

        .lets-connect-box {

            text-align: center;

        .p-topics {
            display: flex;
            justify-content: center;
            gap: 20px;

            p {
                font-weight: 300;
            }
            
            .medium-p {
                font-weight: 500;
            }
        }

        h1 {
            font-weight: bold;
            font-family: 'DM Sans', sans-serif;
            font-size: 40px;

            @media (min-width: 1200px) {
                font-size: 70px;
            }
        }
    }
}

    img {
        display: none;

        @media (min-width: 1400px) {

            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
}