.article-and-info .photo-box {
  height: 220px;
  width: 420px;
}
.article-and-info .photo-box img {
  height: 120px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article-and-info .photo-box img {
    height: 220px;
    width: 420px;
  }
}
.article-and-info .photo-box .date-box {
  height: 64px;
  width: 56px;
  background-color: #F9D783;
  position: relative;
  z-index: 2;
  top: -225px;
  left: 15px;
}
.article-and-info p {
  display: none;
}
@media (min-width: 1400px) {
  .article-and-info p {
    display: block;
  }
}
.article-and-info a {
  text-decoration: none;
  color: black;
}