.article-and-info {



    .photo-box {

        height: 220px;
        width: 420px;

        img {
            height: 120px;
            width: auto;
            margin-top: 20px;
            margin-bottom: 20px;

            @media (min-width:768px) {
                height: 220px;
                width: 420px;
            }
        }

        .date-box {

            height: 64px;
            width: 56px;
            background-color: #F9D783;
            position: relative;
            z-index: 2;
            top: -225px;
            left: 15px;
            text-align: center;
            
            p {
                color: #191919;
                font-size: 16px;
                margin-top: - 12px;
            }

            h3 {
                color: #191919;
                font-size: 22px;
                font-weight: bold;
                padding-top: 15px;
                
            }
        }

    }

    p {
        display: none;

        @media (min-width: 1400px) {

            display: block;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}