.news-section {
  padding-top: 120px;
  padding-bottom: 90px;
}
.news-section .crito-articles {
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.news-section .crito-articles .article-and-info img {
  height: 120px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .news-section .crito-articles .article-and-info img {
    height: 220px;
    width: 420px;
  }
}
.news-section .crito-articles .article-and-info p {
  display: block;
}
.news-section .crito-articles .article-and-info a {
  text-decoration: none;
  color: black;
}
.news-section .my-pages {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.news-section .my-pages .choose-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4b4848;
  height: 38px;
  width: 38px;
  border-radius: 10px;
  color: #191919;
  text-decoration: none;
}
.news-section .my-pages .choose-page:hover {
  background-color: #191919;
  color: white;
  cursor: pointer;
}