.section-11 {

    position: relative;
    z-index: 0;
    padding-top: 120px;
    padding-bottom: 105px;
    background-color: #f0efe9;

    .submit-your-mail {

        text-align: center;

        @media (min-width:1400px) {
            display: flex;
            justify-content: space-between;
        }

        h2 {

            @media (min-width: 1200px) {
                font-size: 45px;
            }
        }

        .empty-field-and-subscribe-btn {

            display: block;

            @media (min-width:1400px) {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-right: 45px;
            }

            .button-position-center {
                display: flex;
                justify-content: center;

                .yellow-button {

                    width: 310px;
                    margin-top: 20px;

                    &:hover {
                        background-color: #191919;
                        color: #ffffff;
                        border: 1px solid #191919;
                    }

                    @media (min-width:1200px) {

                        height: 55px;
                        width: 220px;
                        margin-top: 0px;
                    }
                }
            }

            .searchbox {

                display: flex;
                justify-content: center;

                .insert-your-email {

                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 310px;
                    height: 35px;
                    border-radius: 25px;
                    border: none;

                    @media (min-width:1200px) {
                        height: 55px;
                    }
                }
            }
        }
    }

    img {
        display: none;

        @media (min-width:1200px) {

            display: flex;
            position: absolute;
            right: 0px;
            bottom: 50px;
            z-index: 1;
        }
    }
}