.section-article {
  padding-top: 125px;
  background-color: #F0EFE9;
}
.section-article .Article-and-news {
  text-align: center;
}
@media (min-width: 1400px) {
  .section-article .Article-and-news {
    text-align: start;
  }
}
.section-article .Article-and-news .text-h2-and-button .Topic-and-button {
  display: block;
}
@media (min-width: 1200px) {
  .section-article .Article-and-news .text-h2-and-button .Topic-and-button h2 {
    font-size: 45px;
  }
}
@media (min-width: 1400px) {
  .section-article .Article-and-news .text-h2-and-button .Topic-and-button {
    display: flex;
    justify-content: space-between;
  }
}
.section-article .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position {
  display: flex;
  justify-content: center;
}
.section-article .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button {
  background-color: #ffffff;
  border: 1px solid #191919;
}
.section-article .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button:hover {
  background-color: #191919;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .section-article .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button {
    height: 55px;
    width: 220px;
  }
}
@media (min-width: 1400px) {
  .section-article .Article-and-news .crito-articles {
    display: flex;
    gap: 30px;
  }
}
.section-article .Article-and-news .crito-articles .article-and-info img {
  height: 120px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-article .Article-and-news .crito-articles .article-and-info img {
    height: 220px;
    width: 420px;
  }
}
.section-article .Article-and-news .crito-articles .article-and-info p {
  display: none;
}
@media (min-width: 1400px) {
  .section-article .Article-and-news .crito-articles .article-and-info p {
    display: block;
  }
}
.section-article .Article-and-news .crito-articles .article-and-info a {
  text-decoration: none;
  color: black;
}
.section-article .Article-and-news .small-circles {
  display: none;
}
@media (min-width: 1400px) {
  .section-article .Article-and-news .small-circles {
    display: flex;
    margin-top: 65px;
    padding-bottom: 85px;
  }
}