html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.red-text {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.small-circles {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.small-circles .small-circle {
  padding: 6px 6px 6px 6px;
  border: 1px solid #707070;
  background-color: #707070;
  border-radius: 50%;
}
.small-circles .small-circle:hover {
  background-color: #191919;
  border: 1px solid #191919;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}